button:disabled {
    cursor: no-drop;
    opacity: 0.7;
}

.btn-tabs {
    line-height: 40px;
    text-align: center;
}

.ta-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

.contact-list {
    border-bottom: 3px solid #ddd;
}

.contact-list:last-child {
    border-bottom: none;
}

.default-event-thumb-btn .thumb-change-btn [type="file"] + label {
    background: none;
    border: none;
    padding: 5px;
    font-size: 20px;
}

.default-event-thumb-btn .thumb-change-btn [type="file"] + label:hover {
    background: none;
    color: #fff;
}

.thumb-remove {
    color: #000;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    padding: 5px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    margin: 0;
}

.thumb-remove:hover {
    color: #fff;
}

.dialog-container {
    left: 0;
    top: 0;
    z-index: 2000;
    background: rgba(26, 29, 31, 0.32);
    height: 100%;
    overflow: auto;
    width: 100%;
    position: fixed;
}

.dialog-close {
    background: #333;
}

.dialog-close:hover {
    background: #181717;
}

.hero-logo {
    width: 500px;
}

.blur {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(3px);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  .event-content > .event-name {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    display: block;
    transition: all ease-in-out .2s;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.dialog .login-form {
    padding: 15px;
    background: #fff;
}

.forms {
    background: #fff;
    padding: 0;
}

.forms .forms-label {
    min-width: 80px;
}

.forms .forms-value {
    padding: 3px;
}

.forms .forms-input {
    border: 1px solid #ccc;
    border-radius: 0;
}

.forms .forms-note {
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 7px;
    display: block;
}

.forms .forms-note .status-yes {
    color: #198754;
}

.forms .forms-note .status-no {
    color: #dc3545;
}

.card {
    border-radius: 0;
}

.l-caption {
    font-weight: bold;
    min-width: 80px;
}